<section class="present-section">
    <div class="blur-container" fxLayoutAlign="space-between center">
        <div class="blur-content" fxFlex="35" fxFlex.sm="100" fxFlex.xs="100" fxLayoutAlign="center start">
            <div fxFlex="80">
                <h1 class="big-txt">{{titre}}</h1>
                <h3 class="big-txt h-txt">{{desc}}</h3>
                <div class="blur-img" fxLayoutAlign="center" fxShow="true" fxHide.lg="true" fxHide.md="true">
                    <img fxFlex="80" src="images/2.png" alt="">
                </div>
                <div fxLayout="column" fxLayoutAlign.sm="center center" fxLayoutAlign.xs="center center">
                    <div class="icon-text" fxLayoutAlign="start center">
                        <h3><mat-icon>auto_awesome</mat-icon></h3>
                        <h3>Faites vos propres choix de cours</h3>
                    </div>
                    <div class="icon-text" fxLayoutAlign="start center">
                        <h3><mat-icon>auto_awesome_mosaic</mat-icon></h3>
                        <h3>Gerez vos formations et votre compte</h3>
                    </div>
                    <div class="icon-text" fxLayoutAlign="start center">
                        <h3><mat-icon>photo_library</mat-icon></h3>
                        <h3>Decouvrez les meilleurs cours aux meilleurs prix</h3>
                    </div>
                </div>
                <div class="action-btn" fxLayoutAlign="space-between center">
                    <button class="btn-connect" mat-raised-button (click)="connexionRoute()">Se connecter</button>
                    <button class="btn-insc" mat-raised-button (click)="registerRoute()">S'inscrire</button>
                </div>
            </div>
        </div>
        <div class="blur-img" fxLayoutAlign="center" fxShow="true" fxHide.xs="true" fxHide.sm="true">
            <img fxFlex="80" src="images/2.png" alt="">
        </div>
    </div>
    <div class="cercle1"></div>
    <div class="cercle2"></div>
</section>

<section class="feature-section" fxLayout="column">
    <h1 fxLayout="100" fxLayoutAlign="center">{{titre}} est la meilleure plateforme d'apprentissage en ligne en
        guinée
    </h1>
    <div class="feature-container" fxLayout="row wrap" fxLayoutAlign="space-between center">
        <article fxFlex="28" fxFlex.xs="100" fxFlex.sm="100" fxLayout="column">
            <img src="/images/2.png" alt="">
            <h1>Angular & Angular Material</h1>
            <h3>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda, ad architecto molestias et ipsa
                dolore deserunt commodi enim blanditiis nemo, cum nisi voluptatibus ipsam aperiam accusantium quasi
                officiis ratione velit.
            </h3>
            <a href="#">Lire La suite</a>
        </article>
        <article fxFlex="28" fxFlex.xs="100" fxFlex.sm="100" fxLayout="column">
            <img src="/images/2.png" alt="">
            <h1>Angular & Angular Material</h1>
            <h3>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda, ad architecto molestias et ipsa
                dolore deserunt commodi enim blanditiis nemo, cum nisi voluptatibus ipsam aperiam accusantium quasi
                officiis ratione velit.
            </h3>
            <a href="#">Lire La suite</a>
        </article>
        <article fxFlex="28" fxFlex.xs="100" fxFlex.sm="100" fxLayout="column">
            <img src="/images/2.png" alt="">
            <h1>Angular & Angular Material</h1>
            <h3>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda, ad architecto molestias et ipsa
                dolore deserunt commodi enim blanditiis nemo, cum nisi voluptatibus ipsam aperiam accusantium quasi
                officiis ratione velit.
            </h3>
            <a href="#">Lire La suite</a>
        </article>
    </div>
</section>

<section class="cta-section">
    <div class="cta-container" fxLayout="column" fxLayoutAlign="center center">
        <div class="cta-img" fxLayout="row" fxLayoutAlign="center center">
            <img class="img-custom-one" src="/images/logo-angular.png" alt="" fxFlex="15">
            <img class="img-custom-two" src="/images/firebase-logo.png" alt="" fxFlex="15">
        </div>
        <div class="cta-text" fxLayout="column" fxLayoutAlign="center center">
            <h1>Essayer {{titre}} aujourd'hui</h1>
            <h3>Une plateforme pour vous faciliter l'apprentissage conçue avec angular et firebase</h3>
        </div>
        <div class="cta-btn" fxLayoutAlign="center center">
            <button class="btn-connect" mat-raised-button>Commencer</button>
        </div>

    </div>
</section>