<mat-toolbar class="mat-elevation-z3">

    <span class="title">T e c h M e</span>
    <button class="mat-menu-position" mat-button [matMenuTriggerFor]="menu">Categories</button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>Developpement</button>
        <button mat-menu-item>Business</button>
        <button mat-menu-item>Finance et comptabilité</button>
    </mat-menu>
    <span class="example-spacer"></span>
    <a mat-button>TechMe business</a>
    <a mat-button>Enseigner sur TechMe</a>
    <button class="btn-one" mat-flat-button color="primary">Se connecter</button>
    <button class="btn-two" mat-flat-button color="warn">S'inscrire</button>



</mat-toolbar>

<section class="slider">
    <div class="slider-text">
        <h1>Des compétences qui vous font évoluer</h1>
        <p>La technologie et le monde du travail évoluent rapidement. Avec nous, vous êtes plus rapide. Obtenez les
            compétences pour atteindre vos objectifs et rester compétitif.</p>
        <button class="btn-two" mat-flat-button>Abonnement entreprises</button>
    </div>
    <div class="slider-img">
        <img src="images/s1.webp" alt="">
    </div>
</section>
<section class="partenaires">
    <div class="partenaires-container" fxLayout="column">
        <div class="partenaires-text" fxFlex="100" fxFlexLayout="center">
            <h1>Plus de 16 000 entreprises et des millions de participants nous font confiance dans le monde entier</h1>
        </div>
        <div class="partenaires-logos" fxLayout="row">
            <div class="logo">
                <img src="images/mouna.png" alt="">
            </div>
            <div class="logo">
                <img src="images/orange.png" alt="">
            </div>
            <div class="logo">
                <img src="images/hadafo.png" alt="">
            </div>

        </div>
    </div>
</section>

<section class="text-description" fxLayout="column">
    <h1>
        Une large sélection de cours
    </h1>
    <h5>
        Choisissez parmi plus de 250 000 vidéos de cours en ligne. De nouveaux cours sont ajoutés tous les mois
    </h5>

</section>
<section class="section3">
    <div class="container3" fxLayout="column">
        <h2>Meilleurs categories</h2>
        <div class="content3" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="img" fxLayout="column" fxFlex="10">
                <img src="/images/About-.webp"  alt="">
                <p>Developpement web</p>
            </div>
            <div class="img"  fxLayout="column" fxFlex="10">
                <img src="/images/mak.png"  alt="">
                <p>Marketing</p>
            </div>
            <div class="img"  fxLayout="column" fxFlex="10">
                <img src="/images/R.png"  alt="">
                <p>Design</p>
            </div>
            <div class="img"  fxLayout="column"  fxFlex="10">
                <img src="/images/info.jpg" alt="">
                <p>Informatique et logiciel</p>
            </div>
            <!-- FIN content3 -->
        </div>
        <div class="content33" fxLayoutAlign="space-between center">
            <div class="img" fxLayout="column" fxFlex="10">
                <img src="/images/About-.webp"  alt="">
                <p>Developpement web</p>
            </div>
            <div class="img"  fxLayout="column" fxFlex="10">
                <img src="/images/mak.png"  alt="">
                <p>Marketing</p>
            </div>
            <div class="img"  fxLayout="column" fxFlex="10">
                <img src="/images/R.png"  alt="">
                <p>Design</p>
            </div>
            <div class="img"  fxLayout="column"  fxFlex="10">
                <img src="/images/info.jpg" alt="">
                <p>Informatique et logiciel</p>
            </div>
             <!-- FIN content33 -->
        </div>
        <!--fin  container3 -->
    </div>
</section>
<section class="section4">
    <div class="container4" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="content4" fxLayout="column" fxFlex="50">
            <h3>Developpez votre competence avec TechMe </h3>
            <ul>
                <li><p>Lorem ipsum dolor sit amet consectetur 
                    onsequuntur, assumenda qui aperiam aspernatur provident et corrupti, 
                   </p>
                </li>
                <li><p>Lorem ipsum dolor sit amet consectetur 
                     corporis alias suscipit neque praesentium?</p>
                </li>
                <li><p>Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Officiis itaque dolorem iste aut vero. C
                     corporis alias suscipit neque praesentium?</p>
                </li>
           </ul>
           <div class="btn" fxLayout="row" >
            <button mat-flat-button fxFlex="45">Acheter</button>
           <button mat-raised-button  fxFlex="45">Savoir plus</button>
           </div>
           
        </div>
        <div class="img4">
              <img src="/images/formation.jpg" alt="">
        </div>
    </div>
</section>
<section class="section5">
    <div class="container" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="img">
            <img src="/images/formateur.jpg" alt="">
        </div>
        <div class="content4" fxLayout="column"  fxFlex="40" >
            <h3>Devenir formateur</h3>
             <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis
                 in sunt aliquam cupiditate distinctio quia alias itaque harum repellat. Quod sit 
                 quas aute
                m, corrupti molestias ratione tempore culpa laboriosam esse!</p>
                <button mat-button>Commencez</button>
        </div>
    </div>
</section>
<section class="section6">
    <div class="container" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="text" fxLayout="column">
            <a href="#">TechMe Busy</a>
            <a href="#">Enseigner sur TechMe</a>
            <a href="">A propos</a>
            <a href="#"> Contactez-nous </a>
        </div>
        <div class="text" fxLayout="column">
            <a href="#">TechMe Busy</a>
            <a href="#">Enseigner sur TechMe</a>
            <a href="">A propos</a>
            <a href="#"> Contactez-nous </a>
        </div>
        <div class="text" fxLayout="column">
            <a href="#">TechMe Busy</a>
            <a href="#">Enseigner sur TechMe</a>
            <a href="">A propos</a>
            <a href="#"> Contactez-nous </a>
        </div>
        <div class="text" fxLayout="column">
          <button mat-raised-button>Francais</button>
        </div>
    </div>
</section>
