<app-toolbar></app-toolbar>

<section class="slider">
    <div class="slider-text">
        <h1>Des compétences qui vous font évoluer</h1>
        <p>La technologie et le monde du travail évoluent rapidement. Avec nous, vous êtes plus rapide. Obtenez les
            compétences pour atteindre vos objectifs et rester compétitif.</p>
        <button class="btn-two" mat-flat-button>Abonnement entreprises</button>
    </div>
    <div class="slider-img">
        <img src="images/s1.webp" alt="">
    </div>
</section>
<section class="partenaires">
    <div class="partenaires-container" fxLayout="column">
        <div class="partenaires-text" fxFlex="100" fxFlexLayout="center">
            <h1>Plus de 16 000 entreprises et des millions de participants nous font confiance dans le monde entier</h1>
        </div>
        <div class="partenaires-logos" fxLayout="row">
            <div class="logo">
                <img src="images/mouna.png" alt="">
            </div>
            <div class="logo">
                <img src="images/orange.png" alt="">
            </div>
            <div class="logo">
                <img src="images/hadafo.png" alt="">
            </div>

        </div>
    </div>
</section>

<section class="text-description" fxLayout="column">
    <h1>
        Une large sélection de cours
    </h1>
    <h5>
        Choisissez parmi plus de 250 000 vidéos de cours en ligne. De nouveaux cours sont ajoutés tous les mois
    </h5>

</section>
<section class="formations">
    <mat-tab-group>
        <mat-tab label="Developpement mobile">
            <div class="tab-container" fxLayout="column">
                <div class="tab-desc">
                    <h1>Développez vos opportunités de carrière avec le developpement mobile</h1>
                </div>
                <div class="tab-desc-details">
                    <p>Que vous travailliez dans le machine learning ou dans la finance, dans le développement mobile ou
                        dans la science des données, <br>l'une des compétences les plus
                        importantes à
                        acquérir. <br> L'utilisation simple des composants convient particulièrement aux developpeurs
                        mobile.</p>
                </div>
                <div class="tab-button">
                    <button mat-flat-button color="primary">En savoir plus</button>
                </div>
                <div class="formation-content" fxLayout="row">
                    <div class="formation-content-box" fxLayout="column">
                        <div class="formation-image">
                            <img src="images/6.svg" alt="">
                        </div>
                        <div class="formation-title">
                            <h1>
                                Developpement Mobile: Formation complete 2024
                            </h1>
                        </div>
                        <div class="formateur-name">
                            <p>Hassan bangoura | Developpement Mobile</p>
                        </div>
                        <div class="formation-ratings" fxLayout="row">
                            <h5>4.8</h5>
                            <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                            <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                            <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                            <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        </div>
                        <div class="formation-price">
                            <h3>500.000 GNF</h3>
                        </div>
                        <div class="formation-button">
                            <button mat-flat-button color="primary">Ajouter au panier</button>
                        </div>

                    </div>
                    <div class="formation-content-box" fxLayout="column">
                        <div class="formation-image">
                            <img src="images/7.jpg" alt="">
                        </div>
                        <div class="formation-title">
                            <h1>
                                Application Native: Developper des logiciels natifs
                            </h1>
                        </div>
                        <div class="formateur-name">
                            <p>Hassan bangoura | Developpement Mobile</p>
                        </div>
                        <div class="formation-ratings" fxLayout="row">
                            <h5>4.8</h5>
                            <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                            <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                            <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                            <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        </div>
                        <div class="formation-price">
                            <h3>450.000 GNF</h3>
                        </div>
                        <div class="formation-button">
                            <button mat-flat-button color="primary">Ajouter au panier</button>
                        </div>

                    </div>

                    <div class="formation-content-box" fxLayout="column">
                        <div class="formation-image">
                            <img src="images/8.jpg" alt="">
                        </div>
                        <div class="formation-title">
                            <h1>
                                Analyse de données: application de gestion de données
                            </h1>
                        </div>
                        <div class="formateur-name">
                            <p>Aboubacar Diallo | Developpement Mobile</p>
                        </div>
                        <div class="formation-ratings" fxLayout="row">
                            <h5>4.8</h5>
                            <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                            <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                            <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                            <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        </div>
                        <div class="formation-price">
                            <h3>750.000 GNF</h3>
                        </div>
                        <div class="formation-button">
                            <button mat-flat-button color="primary">Ajouter au panier</button>
                        </div>

                    </div>

                    <div class="formation-content-box" fxLayout="column">
                        <div class="formation-image">
                            <img src="images/9.jpeg" alt="">
                        </div>
                        <div class="formation-title">
                            <h1>
                                Developpement Mobile: Application Hybrid Design
                            </h1>
                        </div>
                        <div class="formateur-name">
                            <p>N'famady Kaba | Developpement Mobile</p>
                        </div>
                        <div class="formation-ratings" fxLayout="row">
                            <h5>4.9</h5>
                            <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                            <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                            <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                            <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        </div>
                        <div class="formation-price">
                            <h3>899.000 GNF</h3>
                        </div>
                        <div class="formation-button">
                            <button mat-flat-button color="primary">Ajouter au panier</button>
                        </div>

                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Entreprenariat">
            <div class="tab-container" fxLayout="column">
            <div class="tab-desc">
                <h1>Développez vos opportunités de carrière avec le developpement mobile</h1>
            </div>
            <div class="tab-desc-details">
                <p>Que vous travailliez dans le machine learning ou dans la finance, dans le développement mobile ou
                    dans la science des données, <br>l'une des compétences les plus
                    importantes à
                    acquérir. <br> L'utilisation simple des composants convient particulièrement aux developpeurs
                    mobile.</p>
            </div>
            <div class="tab-button">
                <button mat-flat-button color="primary">En savoir plus</button>
            </div>
            <div class="formation-content" fxLayout="row">
                <div class="formation-content-box" fxLayout="column">
                    <div class="formation-image">
                        <img src="images/6.svg" alt="">
                    </div>
                    <div class="formation-title">
                        <h1>
                            Developpement Mobile: Formation complete 2024
                        </h1>
                    </div>
                    <div class="formateur-name">
                        <p>Hassan bangoura | Developpement Mobile</p>
                    </div>
                    <div class="formation-ratings" fxLayout="row">
                        <h5>4.8</h5>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                    </div>
                    <div class="formation-price">
                        <h3>500.000 GNF</h3>
                    </div>
                    <div class="formation-button">
                        <button mat-flat-button color="primary">Ajouter au panier</button>
                    </div>

                </div>
                <div class="formation-content-box" fxLayout="column">
                    <div class="formation-image">
                        <img src="images/7.jpg" alt="">
                    </div>
                    <div class="formation-title">
                        <h1>
                            Application Native: Developper des logiciels natifs
                        </h1>
                    </div>
                    <div class="formateur-name">
                        <p>Hassan bangoura | Developpement Mobile</p>
                    </div>
                    <div class="formation-ratings" fxLayout="row">
                        <h5>4.8</h5>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                    </div>
                    <div class="formation-price">
                        <h3>450.000 GNF</h3>
                    </div>
                    <div class="formation-button">
                        <button mat-flat-button color="primary">Ajouter au panier</button>
                    </div>

                </div>

                <div class="formation-content-box" fxLayout="column">
                    <div class="formation-image">
                        <img src="images/8.jpg" alt="">
                    </div>
                    <div class="formation-title">
                        <h1>
                            Analyse de données: application de gestion de données
                        </h1>
                    </div>
                    <div class="formateur-name">
                        <p>Aboubacar Diallo | Developpement Mobile</p>
                    </div>
                    <div class="formation-ratings" fxLayout="row">
                        <h5>4.8</h5>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                    </div>
                    <div class="formation-price">
                        <h3>750.000 GNF</h3>
                    </div>
                    <div class="formation-button">
                        <button mat-flat-button color="primary">Ajouter au panier</button>
                    </div>

                </div>

                <div class="formation-content-box" fxLayout="column">
                    <div class="formation-image">
                        <img src="images/9.jpeg" alt="">
                    </div>
                    <div class="formation-title">
                        <h1>
                            Developpement Mobile: Application Hybrid Design
                        </h1>
                    </div>
                    <div class="formateur-name">
                        <p>N'famady Kaba | Developpement Mobile</p>
                    </div>
                    <div class="formation-ratings" fxLayout="row">
                        <h5>4.9</h5>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                    </div>
                    <div class="formation-price">
                        <h3>899.000 GNF</h3>
                    </div>
                    <div class="formation-button">
                        <button mat-flat-button color="primary">Ajouter au panier</button>
                    </div>

                </div>
            </div>
            </div>
        </mat-tab>
        <mat-tab label="Developpement des jeux">
            <div class="tab-container" fxLayout="column">
            <div class="tab-desc">
                <h1>Développez vos opportunités de carrière avec le developpement mobile</h1>
            </div>
            <div class="tab-desc-details">
                <p>Que vous travailliez dans le machine learning ou dans la finance, dans le développement mobile ou
                    dans la science des données, <br>l'une des compétences les plus
                    importantes à
                    acquérir. <br> L'utilisation simple des composants convient particulièrement aux developpeurs
                    mobile.</p>
            </div>
            <div class="tab-button">
                <button mat-flat-button color="primary">En savoir plus</button>
            </div>
            <div class="formation-content" fxLayout="row">
                <div class="formation-content-box" fxLayout="column">
                    <div class="formation-image">
                        <img src="images/6.svg" alt="">
                    </div>
                    <div class="formation-title">
                        <h1>
                            Developpement Mobile: Formation complete 2024
                        </h1>
                    </div>
                    <div class="formateur-name">
                        <p>Hassan bangoura | Developpement Mobile</p>
                    </div>
                    <div class="formation-ratings" fxLayout="row">
                        <h5>4.8</h5>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                    </div>
                    <div class="formation-price">
                        <h3>500.000 GNF</h3>
                    </div>
                    <div class="formation-button">
                        <button mat-flat-button color="primary">Ajouter au panier</button>
                    </div>

                </div>
                <div class="formation-content-box" fxLayout="column">
                    <div class="formation-image">
                        <img src="images/7.jpg" alt="">
                    </div>
                    <div class="formation-title">
                        <h1>
                            Application Native: Developper des logiciels natifs
                        </h1>
                    </div>
                    <div class="formateur-name">
                        <p>Hassan bangoura | Developpement Mobile</p>
                    </div>
                    <div class="formation-ratings" fxLayout="row">
                        <h5>4.8</h5>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                    </div>
                    <div class="formation-price">
                        <h3>450.000 GNF</h3>
                    </div>
                    <div class="formation-button">
                        <button mat-flat-button color="primary">Ajouter au panier</button>
                    </div>

                </div>

                <div class="formation-content-box" fxLayout="column">
                    <div class="formation-image">
                        <img src="images/8.jpg" alt="">
                    </div>
                    <div class="formation-title">
                        <h1>
                            Analyse de données: application de gestion de données
                        </h1>
                    </div>
                    <div class="formateur-name">
                        <p>Aboubacar Diallo | Developpement Mobile</p>
                    </div>
                    <div class="formation-ratings" fxLayout="row">
                        <h5>4.8</h5>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                    </div>
                    <div class="formation-price">
                        <h3>750.000 GNF</h3>
                    </div>
                    <div class="formation-button">
                        <button mat-flat-button color="primary">Ajouter au panier</button>
                    </div>

                </div>

                <div class="formation-content-box" fxLayout="column">
                    <div class="formation-image">
                        <img src="images/9.jpeg" alt="">
                    </div>
                    <div class="formation-title">
                        <h1>
                            Developpement Mobile: Application Hybrid Design
                        </h1>
                    </div>
                    <div class="formateur-name">
                        <p>N'famady Kaba | Developpement Mobile</p>
                    </div>
                    <div class="formation-ratings" fxLayout="row">
                        <h5>4.9</h5>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                    </div>
                    <div class="formation-price">
                        <h3>899.000 GNF</h3>
                    </div>
                    <div class="formation-button">
                        <button mat-flat-button color="primary">Ajouter au panier</button>
                    </div>

                </div>
            </div>
            </div>
        </mat-tab>
        <mat-tab label="Developpement web">
            <div class="tab-container" fxLayout="column">
            <div class="tab-desc">
                <h1>Développez vos opportunités de carrière avec le developpement mobile</h1>
            </div>
            <div class="tab-desc-details">
                <p>Que vous travailliez dans le machine learning ou dans la finance, dans le développement mobile ou
                    dans la science des données, <br>l'une des compétences les plus
                    importantes à
                    acquérir. <br> L'utilisation simple des composants convient particulièrement aux developpeurs
                    mobile.</p>
            </div>
            <div class="tab-button">
                <button mat-flat-button color="primary">En savoir plus</button>
            </div>
            <div class="formation-content" fxLayout="row">
                <div class="formation-content-box" fxLayout="column">
                    <div class="formation-image">
                        <img src="images/6.svg" alt="">
                    </div>
                    <div class="formation-title">
                        <h1>
                            Developpement Mobile: Formation complete 2024
                        </h1>
                    </div>
                    <div class="formateur-name">
                        <p>Hassan bangoura | Developpement Mobile</p>
                    </div>
                    <div class="formation-ratings" fxLayout="row">
                        <h5>4.8</h5>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                    </div>
                    <div class="formation-price">
                        <h3>500.000 GNF</h3>
                    </div>
                    <div class="formation-button">
                        <button mat-flat-button color="primary">Ajouter au panier</button>
                    </div>

                </div>
                <div class="formation-content-box" fxLayout="column">
                    <div class="formation-image">
                        <img src="images/7.jpg" alt="">
                    </div>
                    <div class="formation-title">
                        <h1>
                            Application Native: Developper des logiciels natifs
                        </h1>
                    </div>
                    <div class="formateur-name">
                        <p>Hassan bangoura | Developpement Mobile</p>
                    </div>
                    <div class="formation-ratings" fxLayout="row">
                        <h5>4.8</h5>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                    </div>
                    <div class="formation-price">
                        <h3>450.000 GNF</h3>
                    </div>
                    <div class="formation-button">
                        <button mat-flat-button color="primary">Ajouter au panier</button>
                    </div>

                </div>

                <div class="formation-content-box" fxLayout="column">
                    <div class="formation-image">
                        <img src="images/8.jpg" alt="">
                    </div>
                    <div class="formation-title">
                        <h1>
                            Analyse de données: application de gestion de données
                        </h1>
                    </div>
                    <div class="formateur-name">
                        <p>Aboubacar Diallo | Developpement Mobile</p>
                    </div>
                    <div class="formation-ratings" fxLayout="row">
                        <h5>4.8</h5>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                    </div>
                    <div class="formation-price">
                        <h3>750.000 GNF</h3>
                    </div>
                    <div class="formation-button">
                        <button mat-flat-button color="primary">Ajouter au panier</button>
                    </div>

                </div>

                <div class="formation-content-box" fxLayout="column">
                    <div class="formation-image">
                        <img src="images/9.jpeg" alt="">
                    </div>
                    <div class="formation-title">
                        <h1>
                            Developpement Mobile: Application Hybrid Design
                        </h1>
                    </div>
                    <div class="formateur-name">
                        <p>N'famady Kaba | Developpement Mobile</p>
                    </div>
                    <div class="formation-ratings" fxLayout="row">
                        <h5>4.9</h5>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                    </div>
                    <div class="formation-price">
                        <h3>899.000 GNF</h3>
                    </div>
                    <div class="formation-button">
                        <button mat-flat-button color="primary">Ajouter au panier</button>
                    </div>

                </div>
            </div>
            </div>
        </mat-tab>
        <mat-tab label="Informatique"> Content 3 </mat-tab>
    </mat-tab-group>

</section>
<section class="section3">
    <div class="container3" fxLayout="column">
        <h2>Meilleurs categories</h2>
        <div class="content3" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="img" fxLayout="column" fxFlex="10">
                <img src="/images/About-.webp"  alt="">
                <p>Developpement web</p>
            </div>
            <div class="img"  fxLayout="column" fxFlex="10">
                <img src="/images/mak.png"  alt="">
                <p>Marketing</p>
            </div>
            <div class="img"  fxLayout="column" fxFlex="10">
                <img src="/images/R.png"  alt="">
                <p>Design</p>
            </div>
            <div class="img"  fxLayout="column"  fxFlex="10">
                <img src="/images/info.jpg" alt="">
                <p>Informatique et logiciel</p>
            </div>
            <!-- FIN content3 -->
        </div>
        <div class="content33" fxLayoutAlign="space-between center">
            <div class="img" fxLayout="column" fxFlex="10">
                <img src="/images/About-.webp"  alt="">
                <p>Developpement web</p>
            </div>
            <div class="img"  fxLayout="column" fxFlex="10">
                <img src="/images/mak.png"  alt="">
                <p>Marketing</p>
            </div>
            <div class="img"  fxLayout="column" fxFlex="10">
                <img src="/images/R.png"  alt="">
                <p>Design</p>
            </div>
            <div class="img"  fxLayout="column"  fxFlex="10">
                <img src="/images/info.jpg" alt="">
                <p>Informatique et logiciel</p>
            </div>
             <!-- FIN content33 -->
        </div>
        <!--fin  container3 -->
    </div>
</section>
<section class="section4">
    <div class="container4" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="content4" fxLayout="column" fxFlex="50">
            <h3>Developpez votre competence avec TechMe </h3>
            <ul>
                <li><p>Lorem ipsum dolor sit amet consectetur 
                    onsequuntur, assumenda qui aperiam aspernatur provident et corrupti, 
                   </p>
                </li>
                <li><p>Lorem ipsum dolor sit amet consectetur 
                     corporis alias suscipit neque praesentium?</p>
                </li>
                <li><p>Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Officiis itaque dolorem iste aut vero. C
                     corporis alias suscipit neque praesentium?</p>
                </li>
           </ul>
           <div class="btn" fxLayout="row" >
            <button mat-flat-button fxFlex="45">Acheter</button>
           <button mat-raised-button  fxFlex="45">Savoir plus</button>
           </div>
           
        </div>
        <div class="img4">
              <img src="/images/formation.jpg" alt="">
        </div>
    </div>
</section>
<section class="section5">
    <div class="container" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="img">
            <img src="/images/formateur.jpg" alt="">
        </div>
        <div class="content4" fxLayout="column"  fxFlex="40" >
            <h3>Devenir formateur</h3>
             <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis
                 in sunt aliquam cupiditate distinctio quia alias itaque harum repellat. Quod sit 
                 quas aute
                m, corrupti molestias ratione tempore culpa laboriosam esse!</p>
                <button mat-button>Commencez</button>
        </div>
    </div>
</section>
<app-footer></app-footer>
