<app-toolbar></app-toolbar>
<div class="container" >
    <div fxLayout="row" >
        <div fxFlex="70" fxLayout="column" fxFlex.sm="100" fxFlex.xs="100">
            <h1>Developpement Mobile: Formation complete</h1>
            <h3>Devenez un developpeur pro avec nos formations. Creer des applications dynamique tres rapidement</h3>
            
            <div class="formation-ratings" fxLayout="row">
                <p class="vente">Meilleure vente</p>
                <h5>4.8</h5>
                <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                <p class="nbr">11923 participants</p>
            </div>
            <div class="update" fxLayout="row">
                <mat-icon >update</mat-icon>
                <p>Derniere mise a jour: 18/03/2022</p>
                <mat-icon>language</mat-icon>
                <p> Français</p>
            </div>
        </div>
        <div class="image" fxFlex="30" fxShow.lg="true" fxHide.xs="true" fxHide.sm="true">
            <img src="images/remove.png" alt="">
        </div>
        
       
        
    </div>

    
</div>


<section class="pricing-container">
    <h1>Choississez votre plan</h1>
    <div class="pricing" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="space-between center" fxLayoutAlign.xs="space-between center" fxLayoutAlign.sm="space-between center">
        
        <div class="plan1" fxFlex="32"  >
            <h2>Plan mensuel</h2>
            <h3>Prix: 99000/mois</h3>
            
            <p > <mat-icon>code</mat-icon> Apprendre la programmation en partant de zero</p>
            <p> <mat-icon>check</mat-icon> Obtenir des bases solides</p>
            <p> <mat-icon>smartphone</mat-icon> Acces sur mobile et tv</p>
            <p> <mat-icon>smart_display</mat-icon> Videos a la demande l'etudiant</p>
            <p> <mat-icon>workspace_premium</mat-icon> Certificat de fin de formation </p>

            <div class="formation-button">
                <button mat-flat-button color="primary">Commencez</button>
            </div>

        </div>
        <div class="plan1" fxFlex="32">
            <h2>Plan mensuel</h2>
            <h3>Prix: 99000/mois</h3>
            
            <p > <mat-icon>code</mat-icon> Apprendre la programmation en partant de zero</p>
            <p> <mat-icon>check</mat-icon> Obtenir des bases solides</p>
            <p> <mat-icon>smartphone</mat-icon> Acces sur mobile et tv</p>
            <p> <mat-icon>smart_display</mat-icon> Videos a la demande l'etudiant</p>
            <p> <mat-icon>workspace_premium</mat-icon> Certificat de fin de formation </p>

            <div class="formation-button">
                <button mat-flat-button color="primary">Commencez</button>
            </div>
        </div>
        <div class="plan1" fxFlex="32">
            <h2>Plan mensuel</h2>
            <h3>Prix: 99000/mois</h3>
            
            <p > <mat-icon>code</mat-icon> Apprendre la programmation en partant de zero</p>
            <p> <mat-icon>check</mat-icon> Obtenir des bases solides</p>
            <p> <mat-icon>smartphone</mat-icon> Acces sur mobile et tv</p>
            <p> <mat-icon>smart_display</mat-icon> Videos a la demande l'etudiant</p>
            <p> <mat-icon>workspace_premium</mat-icon> Certificat de fin de formation </p>

            <div class="formation-button">
                <button mat-flat-button color="primary">Commencez</button>
            </div>
        </div>
       
    </div>

</section>



<app-footer></app-footer>
