<mat-toolbar class="mat-elevation-z3">

    <span class="title">T e c h M e</span>
    <button class="mat-menu-position" mat-button [matMenuTriggerFor]="menu">Categories</button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>Developpement</button>
        <button mat-menu-item>Business</button>
        <button mat-menu-item>Finance et comptabilité</button>
    </mat-menu>
    <span class="example-spacer"></span>
    <a mat-button>TechMe business</a>
    <a mat-button>Enseigner sur TechMe</a>
    <button class="btn-one" mat-flat-button color="primary" (click)="logoutUser()">Se deconnecter</button>
    <button class="btn-two" mat-flat-button color="warn">S'inscrire</button>



</mat-toolbar>