<section class="formations">
    <h1>test component</h1>
    <mat-tab-group>
        <mat-tab label="Developpement mobile">
            <div class="tab-container" fxLayout="column">
                <div class="tab-desc">
                    <h1>Développez vos opportunités de carrière avec le developpement mobile</h1>
                </div>
                <div class="tab-desc-details">
                    <p>Que vous travailliez dans le machine learning ou dans la finance, dans le développement mobile ou
                        dans la science des données, <br>l'une des compétences les plus
                        importantes à
                        acquérir. <br> L'utilisation simple des composants convient particulièrement aux developpeurs
                        mobile.</p>
                </div>
                <div class="tab-button">
                    <button mat-flat-button color="primary">En savoir plus</button>
                </div>
                <div class="formation-content" fxLayout="row">
                    <div class="formation-content-box" fxLayout="column">
                        <div class="formation-image">
                            <img src="images/6.svg" alt="">
                        </div>
                        <div class="formation-title">
                            <h1>
                                Developpement Mobile: Formation complete 2024
                            </h1>
                        </div>
                        <div class="formateur-name">
                            <p>Hassan bangoura | Developpement Mobile</p>
                        </div>
                        <div class="formation-ratings" fxLayout="row">
                            <h5>4.8</h5>
                            <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                            <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                            <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                            <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        </div>
                        <div class="formation-price">
                            <h3>500.000 GNF</h3>
                        </div>
                        <div class="formation-button">
                            <button mat-flat-button color="primary">Ajouter au panier</button>
                        </div>

                    </div>
                    <div class="formation-content-box" fxLayout="column">
                        <div class="formation-image">
                            <img src="images/7.jpg" alt="">
                        </div>
                        <div class="formation-title">
                            <h1>
                                Application Native: Developper des logiciels natifs
                            </h1>
                        </div>
                        <div class="formateur-name">
                            <p>Hassan bangoura | Developpement Mobile</p>
                        </div>
                        <div class="formation-ratings" fxLayout="row">
                            <h5>4.8</h5>
                            <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                            <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                            <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                            <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        </div>
                        <div class="formation-price">
                            <h3>450.000 GNF</h3>
                        </div>
                        <div class="formation-button">
                            <button mat-flat-button color="primary">Ajouter au panier</button>
                        </div>

                    </div>

                    <div class="formation-content-box" fxLayout="column">
                        <div class="formation-image">
                            <img src="images/8.jpg" alt="">
                        </div>
                        <div class="formation-title">
                            <h1>
                                Analyse de données: application de gestion de données
                            </h1>
                        </div>
                        <div class="formateur-name">
                            <p>Aboubacar Diallo | Developpement Mobile</p>
                        </div>
                        <div class="formation-ratings" fxLayout="row">
                            <h5>4.8</h5>
                            <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                            <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                            <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                            <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        </div>
                        <div class="formation-price">
                            <h3>750.000 GNF</h3>
                        </div>
                        <div class="formation-button">
                            <button mat-flat-button color="primary">Ajouter au panier</button>
                        </div>

                    </div>

                    <div class="formation-content-box" fxLayout="column">
                        <div class="formation-image">
                            <img src="images/9.jpeg" alt="">
                        </div>
                        <div class="formation-title">
                            <h1>
                                Developpement Mobile: Application Hybrid Design
                            </h1>
                        </div>
                        <div class="formateur-name">
                            <p>N'famady Kaba | Developpement Mobile</p>
                        </div>
                        <div class="formation-ratings" fxLayout="row">
                            <h5>4.9</h5>
                            <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                            <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                            <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                            <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        </div>
                        <div class="formation-price">
                            <h3>899.000 GNF</h3>
                        </div>
                        <div class="formation-button">
                            <button mat-flat-button color="primary">Ajouter au panier</button>
                        </div>

                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Entreprenariat">
            <div class="tab-container" fxLayout="column">
            <div class="tab-desc">
                <h1>Développez vos opportunités de carrière avec le developpement mobile</h1>
            </div>
            <div class="tab-desc-details">
                <p>Que vous travailliez dans le machine learning ou dans la finance, dans le développement mobile ou
                    dans la science des données, <br>l'une des compétences les plus
                    importantes à
                    acquérir. <br> L'utilisation simple des composants convient particulièrement aux developpeurs
                    mobile.</p>
            </div>
            <div class="tab-button">
                <button mat-flat-button color="primary">En savoir plus</button>
            </div>
            <div class="formation-content" fxLayout="row">
                <div class="formation-content-box" fxLayout="column">
                    <div class="formation-image">
                        <img src="images/6.svg" alt="">
                    </div>
                    <div class="formation-title">
                        <h1>
                            Developpement Mobile: Formation complete 2024
                        </h1>
                    </div>
                    <div class="formateur-name">
                        <p>Hassan bangoura | Developpement Mobile</p>
                    </div>
                    <div class="formation-ratings" fxLayout="row">
                        <h5>4.8</h5>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                    </div>
                    <div class="formation-price">
                        <h3>500.000 GNF</h3>
                    </div>
                    <div class="formation-button">
                        <button mat-flat-button color="primary">Ajouter au panier</button>
                    </div>

                </div>
                <div class="formation-content-box" fxLayout="column">
                    <div class="formation-image">
                        <img src="images/7.jpg" alt="">
                    </div>
                    <div class="formation-title">
                        <h1>
                            Application Native: Developper des logiciels natifs
                        </h1>
                    </div>
                    <div class="formateur-name">
                        <p>Hassan bangoura | Developpement Mobile</p>
                    </div>
                    <div class="formation-ratings" fxLayout="row">
                        <h5>4.8</h5>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                    </div>
                    <div class="formation-price">
                        <h3>450.000 GNF</h3>
                    </div>
                    <div class="formation-button">
                        <button mat-flat-button color="primary">Ajouter au panier</button>
                    </div>

                </div>

                <div class="formation-content-box" fxLayout="column">
                    <div class="formation-image">
                        <img src="images/8.jpg" alt="">
                    </div>
                    <div class="formation-title">
                        <h1>
                            Analyse de données: application de gestion de données
                        </h1>
                    </div>
                    <div class="formateur-name">
                        <p>Aboubacar Diallo | Developpement Mobile</p>
                    </div>
                    <div class="formation-ratings" fxLayout="row">
                        <h5>4.8</h5>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                    </div>
                    <div class="formation-price">
                        <h3>750.000 GNF</h3>
                    </div>
                    <div class="formation-button">
                        <button mat-flat-button color="primary">Ajouter au panier</button>
                    </div>

                </div>

                <div class="formation-content-box" fxLayout="column">
                    <div class="formation-image">
                        <img src="images/9.jpeg" alt="">
                    </div>
                    <div class="formation-title">
                        <h1>
                            Developpement Mobile: Application Hybrid Design
                        </h1>
                    </div>
                    <div class="formateur-name">
                        <p>N'famady Kaba | Developpement Mobile</p>
                    </div>
                    <div class="formation-ratings" fxLayout="row">
                        <h5>4.9</h5>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                    </div>
                    <div class="formation-price">
                        <h3>899.000 GNF</h3>
                    </div>
                    <div class="formation-button">
                        <button mat-flat-button color="primary">Ajouter au panier</button>
                    </div>

                </div>
            </div>
            </div>
        </mat-tab>
        <mat-tab label="Developpement des jeux">
            <div class="tab-container" fxLayout="column">
            <div class="tab-desc">
                <h1>Développez vos opportunités de carrière avec le developpement mobile</h1>
            </div>
            <div class="tab-desc-details">
                <p>Que vous travailliez dans le machine learning ou dans la finance, dans le développement mobile ou
                    dans la science des données, <br>l'une des compétences les plus
                    importantes à
                    acquérir. <br> L'utilisation simple des composants convient particulièrement aux developpeurs
                    mobile.</p>
            </div>
            <div class="tab-button">
                <button mat-flat-button color="primary">En savoir plus</button>
            </div>
            <div class="formation-content" fxLayout="row">
                <div class="formation-content-box" fxLayout="column">
                    <div class="formation-image">
                        <img src="images/6.svg" alt="">
                    </div>
                    <div class="formation-title">
                        <h1>
                            Developpement Mobile: Formation complete 2024
                        </h1>
                    </div>
                    <div class="formateur-name">
                        <p>Hassan bangoura | Developpement Mobile</p>
                    </div>
                    <div class="formation-ratings" fxLayout="row">
                        <h5>4.8</h5>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                    </div>
                    <div class="formation-price">
                        <h3>500.000 GNF</h3>
                    </div>
                    <div class="formation-button">
                        <button mat-flat-button color="primary">Ajouter au panier</button>
                    </div>

                </div>
                <div class="formation-content-box" fxLayout="column">
                    <div class="formation-image">
                        <img src="images/7.jpg" alt="">
                    </div>
                    <div class="formation-title">
                        <h1>
                            Application Native: Developper des logiciels natifs
                        </h1>
                    </div>
                    <div class="formateur-name">
                        <p>Hassan bangoura | Developpement Mobile</p>
                    </div>
                    <div class="formation-ratings" fxLayout="row">
                        <h5>4.8</h5>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                    </div>
                    <div class="formation-price">
                        <h3>450.000 GNF</h3>
                    </div>
                    <div class="formation-button">
                        <button mat-flat-button color="primary">Ajouter au panier</button>
                    </div>

                </div>

                <div class="formation-content-box" fxLayout="column">
                    <div class="formation-image">
                        <img src="images/8.jpg" alt="">
                    </div>
                    <div class="formation-title">
                        <h1>
                            Analyse de données: application de gestion de données
                        </h1>
                    </div>
                    <div class="formateur-name">
                        <p>Aboubacar Diallo | Developpement Mobile</p>
                    </div>
                    <div class="formation-ratings" fxLayout="row">
                        <h5>4.8</h5>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                    </div>
                    <div class="formation-price">
                        <h3>750.000 GNF</h3>
                    </div>
                    <div class="formation-button">
                        <button mat-flat-button color="primary">Ajouter au panier</button>
                    </div>

                </div>

                <div class="formation-content-box" fxLayout="column">
                    <div class="formation-image">
                        <img src="images/9.jpeg" alt="">
                    </div>
                    <div class="formation-title">
                        <h1>
                            Developpement Mobile: Application Hybrid Design
                        </h1>
                    </div>
                    <div class="formateur-name">
                        <p>N'famady Kaba | Developpement Mobile</p>
                    </div>
                    <div class="formation-ratings" fxLayout="row">
                        <h5>4.9</h5>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                    </div>
                    <div class="formation-price">
                        <h3>899.000 GNF</h3>
                    </div>
                    <div class="formation-button">
                        <button mat-flat-button color="primary">Ajouter au panier</button>
                    </div>

                </div>
            </div>
            </div>
        </mat-tab>
        <mat-tab label="Developpement web">
            <div class="tab-container" fxLayout="column">
            <div class="tab-desc">
                <h1>Développez vos opportunités de carrière avec le developpement mobile</h1>
            </div>
            <div class="tab-desc-details">
                <p>Que vous travailliez dans le machine learning ou dans la finance, dans le développement mobile ou
                    dans la science des données, <br>l'une des compétences les plus
                    importantes à
                    acquérir. <br> L'utilisation simple des composants convient particulièrement aux developpeurs
                    mobile.</p>
            </div>
            <div class="tab-button">
                <button mat-flat-button color="primary">En savoir plus</button>
            </div>
            <div class="formation-content" fxLayout="row">
                <div class="formation-content-box" fxLayout="column">
                    <div class="formation-image">
                        <img src="images/6.svg" alt="">
                    </div>
                    <div class="formation-title">
                        <h1>
                            Developpement Mobile: Formation complete 2024
                        </h1>
                    </div>
                    <div class="formateur-name">
                        <p>Hassan bangoura | Developpement Mobile</p>
                    </div>
                    <div class="formation-ratings" fxLayout="row">
                        <h5>4.8</h5>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                    </div>
                    <div class="formation-price">
                        <h3>500.000 GNF</h3>
                    </div>
                    <div class="formation-button">
                        <button mat-flat-button color="primary">Ajouter au panier</button>
                    </div>

                </div>
                <div class="formation-content-box" fxLayout="column">
                    <div class="formation-image">
                        <img src="images/7.jpg" alt="">
                    </div>
                    <div class="formation-title">
                        <h1>
                            Application Native: Developper des logiciels natifs
                        </h1>
                    </div>
                    <div class="formateur-name">
                        <p>Hassan bangoura | Developpement Mobile</p>
                    </div>
                    <div class="formation-ratings" fxLayout="row">
                        <h5>4.8</h5>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                    </div>
                    <div class="formation-price">
                        <h3>450.000 GNF</h3>
                    </div>
                    <div class="formation-button">
                        <button mat-flat-button color="primary">Ajouter au panier</button>
                    </div>

                </div>

                <div class="formation-content-box" fxLayout="column">
                    <div class="formation-image">
                        <img src="images/8.jpg" alt="">
                    </div>
                    <div class="formation-title">
                        <h1>
                            Analyse de données: application de gestion de données
                        </h1>
                    </div>
                    <div class="formateur-name">
                        <p>Aboubacar Diallo | Developpement Mobile</p>
                    </div>
                    <div class="formation-ratings" fxLayout="row">
                        <h5>4.8</h5>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                    </div>
                    <div class="formation-price">
                        <h3>750.000 GNF</h3>
                    </div>
                    <div class="formation-button">
                        <button mat-flat-button color="primary">Ajouter au panier</button>
                    </div>

                </div>

                <div class="formation-content-box" fxLayout="column">
                    <div class="formation-image">
                        <img src="images/9.jpeg" alt="">
                    </div>
                    <div class="formation-title">
                        <h1>
                            Developpement Mobile: Application Hybrid Design
                        </h1>
                    </div>
                    <div class="formateur-name">
                        <p>N'famady Kaba | Developpement Mobile</p>
                    </div>
                    <div class="formation-ratings" fxLayout="row">
                        <h5>4.9</h5>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                        <mat-icon class="mat-icon-large" color="warn">star</mat-icon>
                    </div>
                    <div class="formation-price">
                        <h3>899.000 GNF</h3>
                    </div>
                    <div class="formation-button">
                        <button mat-flat-button color="primary">Ajouter au panier</button>
                    </div>

                </div>
            </div>
            </div>
        </mat-tab>
        <mat-tab label="Informatique"> Content 3 </mat-tab>
    </mat-tab-group>

</section>