<section class="section6">
    <div class="container" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="text" fxLayout="column">
            <a href="#">TechMe Busy</a>
            <a href="#">Enseigner sur TechMe</a>
            <a href="">A propos</a>
            <a href="#"> Contactez-nous </a>
        </div>
        <div class="text" fxLayout="column">
            <a href="#">TechMe Busy</a>
            <a href="#">Enseigner sur TechMe</a>
            <a href="">A propos</a>
            <a href="#"> Contactez-nous </a>
        </div>
        <div class="text" fxLayout="column">
            <a href="#">TechMe Busy</a>
            <a href="#">Enseigner sur TechMe</a>
            <a href="">A propos</a>
            <a href="#"> Contactez-nous </a>
        </div>
        <div class="text" fxLayout="column">
          <button mat-raised-button>Francais</button>
        </div>
    </div>
</section>