.section6 {
    background-color: rgb(46, 43, 43);
    padding: calc(5vw + 1rem);

    a {
        //text-align: center;
        text-decoration: none;
        color: white;
    }

    button {
        margin-bottom: 3rem;
    }
}
